<div class="row">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <img src="../../../assets/Perfil 2.jpg" class="img-fluid" id="Perfil">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p id="Nombre">Francis Seura</p>
            <p id="Titulo">Full Stack Developer Jr</p>
        </div>
    </div>
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h3 id="AcercaDeMi">Acerca de mí</h3>
            <p id="Descripcion">Actualmente estudiante de 24 años, egresado de secundaria como bachiller en Ciencias Naturales y en vías de obtener el título como Profesor de Física. Actualmente, cursando una Tecnicatura Superior en Desarrollo de Software en el I.E.S.T. y Desarrollo Web Full Stack Junior en IT Master Coding Academy, Certificado en Programación Básica Orientada a Objetos, Programación Web Front-End y Lenguas Extranjeras (inglés).</p>
        </span>
    </div>
</div>
