
#Banner{
    animation-duration: 2s;
    animation-name: slidein;
    width: 100%;
}

@keyframes slidein{
    from {
        margin-left: -10%;
        width: 120%;
        opacity: 0%;
    }

    to {
        margin-left: 0%;
        width: 100%;
        opacity: 100%;
    }
}